<div class="row login-container animated fadeInLeft fast">
    <div class="col-6">
        <form>
            <h1>Bienvenido!!</h1>

            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" />
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" />
                <label class="form-check-label">Recuerdame</label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a class="register-link ml-1">
          ¿No tienes cuenta? Registrate.
        </a>
            </div>
        </form>
    </div>
</div>